.button {
    background-color: var(--sohoLights);
    color: var(--hemocyanin);
    height: 60px;
    border-radius: 5px;
    width: 100%;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    border: none;
}
