.button {
    height: 35px;
    width: 35px;
    border-radius: 10px;
    font-size: 18px;
    font-weight: normal;
}

.quantity {
    font-size: 18px;
    font-weight: normal;
    text-align: center;
    display: inline-block;
    margin: 0 10px;
}

.disabled {
    opacity: 0.5;
}

.title {
    font-size: 14px;
    margin-bottom: 6px;
    font-weight: normal;
    text-align: center;
}
