.button {
    height: 35px;
    width: 35px;
    border-radius: 10px;
    font-size: 18px;
    font-weight: normal;
}

.title {
    font-size: 18px;
    font-weight: normal;
    text-align: center;
    display: inline-block;
    margin: 0 10px;
}
